.bg-primary {
    background-color: #3778c2!important;
}

body {
    background-color: #f4f4f4;
}

.logo_photo {
    object-fit: contain;
}

.categorylist {
    width: 100%;
    margin-bottom: 7rem;
}
.entity {
    background-color:#fff;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    align-items: center;
    gap: 1rem;
}
.entity_box {
width: 100%;
color: #434b549a;
padding:0 2rem 0 1rem;
}
.entity_box div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.entity_box div p{
   color: #434b54;
   font-weight: 500;
   font-size: 1.2rem;
}

.entity_box div a{
    font-weight: 600;
    font-size: 1.0rem;
    color: inherit;
    text-decoration: none;
}

.scan-btn{
    background-color: #5fb523;
    padding: 1rem 1.5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
.scan-btn a{
    display: block;
    background-color:  #5fb523;
    border:1px solid white;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.img-container {
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.entity-show {
    background-color: #fff;
    padding: 2rem;
    margin: 1rem;
}

.entity-show p{
    font-size: 0.8rem;
    color: #434b549a;
}

.entity-show h1{
    font-size: 1.3rem;
    color: #434b54e1;
}

.entity-show-top {
    gap:2rem;
    align-items: center;
    margin-bottom: 1rem;
}

.entity-show-top p {
padding-top: 1.5rem;
color: #434b54d5;
font-weight: 600;
font-size: 1.0rem;
}

.total-heading {
    color: #434b54d5;
    font-weight: 600;
}

.search-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
}

@media only screen and (max-width: 367px){
    .img-container {
        flex-basis: 50%;
    }
    
}



